@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;800&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JetBrains Mono", monospace;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Componentes */
.header {
  position: absolute;
  top: 40px;
  right: 120px;
  
  left: 200px;
  background: white;
  display: flex;
  width: 90vw;
}
.titulo {
  width: fit-content;
  /* position: fixed; */
}
.nav {
  margin-left: auto;
  /* position: fixed; */
}
.nav ul {
  display: flex;
  gap: 20px;
  padding-right: 80px;
  padding-top: 20px;
  /* color: black; */
}
.nav ul li {
}
.nav ul li {}
.saludo {
  height: 600px;
  font-size: 15pt;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saludo p {
  max-width: 60vw;
  margin: auto;
  text-align: left;
}

.gridproyectos {
  display: grid;
  grid-template-columns: repeat(4, ifr);
  grid-template-columns: (3, ifr);
}

/* Componentes */
.proyecto {
  background-color: white;
}
.proyecto-imagen {
  background-color: lightskyblue;
}
.proyecto-titulo {
  background-color: lightseagreen;
}
.proyecto-categoria {
  background-color: lightsalmon;
}
