@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;800&display=swap");
/* Variables */
:root {
  --primario: #e6e6fa;
  --bg: #e6e6fa;
  --font-base: "JetBrains Mono", monospace;
  --h1: 121px;
  --h2: 81px;
  --h3: 54px;
  --h4: 27px;
  --h5: 18px;
  --h6: 16px;
}
body {
  font-family:var(--font-base);
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-family:var(--font-base);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Componentes */
.header {
  position: fixed;
  background-color: rgb(180 180 180 / 89%);
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  width: 100vw;
}
.titulo {
  padding-left: 80px;
  /* position: fixed; */
}
.nav {
  margin-left: auto;
  padding-right: 80px;
  /* position: fixed; */
}
.nav ul {
  display: flex;
  gap: 20px;

  /* color: black; */
}
.nav ul li {}
.saludo {
  height: 600px;
  font-size: 15pt;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saludo p {
  max-width: 60vw;
  margin: auto;
  text-align: left;
}

.gridproyectos {
  display: grid;
  grid-template-columns: repeat(4, ifr);
  grid-template-columns: (3, ifr);
}

/* Componentes */
.proyecto {
  background-color: white;
}
.proyecto-imagen {
  background-color: lightskyblue;
}
.proyecto-titulo {
  background-color: lightseagreen;
}
.proyecto-categoria {
  background-color: lightsalmon;
}
